---

import MainGridLayout from "../layouts/MainGridLayout.astro";

import { getEntry } from 'astro:content'
import {i18n} from "../i18n/translation";
import I18nKey from "../i18n/i18nKey";
import Markdown from "@components/misc/Markdown.astro";
import SiteCard from "@components/misc/SiteCard.astro";

const aboutPost = await getEntry('spec', 'friends')

const { Content } = await aboutPost.render()

---
<MainGridLayout title="Friends" description="此处存放着我的友人们~">
  <div class="flex w-full rounded-[var(--radius-large)] overflow-hidden relative min-h-32">
    <div class="card-base z-10 px-9 py-6 relative w-full ">
      <Markdown class="mt-2">
        <Content />
      </Markdown>

      <SiteCard title="Cynosura" url="https://cynosura.one" icon="/friends/cynosura.webp" desc="Per aspera, ad astra."></SiteCard>
      <SiteCard title="q1zhen" url="https://qizhen-yang.cn/" icon="/friends/q1zhen.jpg" desc="Place where I create, break, and write about things."></SiteCard>
      <SiteCard title="Yunyi’s Blog" url="https://www.yunyitang.me" icon="/friends/yunyitang.png" desc="Little squirrel Hopping around"></SiteCard>
      <SiteCard title="Heuluck’s Blog" url="https://heuluck.top" icon="/friends/heuluck.png" desc="随便写点东西记录一下"></SiteCard>
    </div>
  </div>
</MainGridLayout>
